.vscode/**
.vscode-test/**
.git/**
.github/**
out/**
src/**
node_modules/**
.gitignore
.vsix-temp/**
tsconfig.json
webpack.config.js
.eslintrc.json
**/*.ts
**/*.map
**/*.vsix
**/.DS_Store
**/*.log
**/package-lock.json

# Make sure to include the dist directory
!dist/** 